
{{> head }}


    
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Primer título - One Piece</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quos voluptas ad explicabo sapiente enim quisquam neque saepe animi. Explicabo.</p>
    </div>
    <div class="col-4">
        <img src="assets/image/one-piece.jpg" class="img-thumbnail">
    </div>


</div>


 
 {{> footer }}